@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500;700&family=Space+Mono:wght@400;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
        width: 100%;
}
header {
	padding-left: 20px;
}
header > h3 {
	font-family: 'Inconsolata', monospace;
	text-transform: uppercase;
	font-size: 24px;
	color: #333333;
}
.img__hero {
	padding: 50px;
}
.img__hero > img {
	width: 250px;
}
.content__hero {
	padding-left: 20px;
}
.content__hero > h1 {
	font-size: 48px;
	color: #333333;
	font-family: 'Space Mono', monospace;
	font-weight: 700;
}
.content__hero > p {
	font-size: 18px;
	font-family: 'Space Mono', monospace;
	font-weight: 400;
	margin: 30px 0;
	color: #4f4f4f;
}
.btn__action-hero {
	background-color: #333333;
	width: 50%;
	margin-left: 20px;
}
.btn__action-hero > a {
	display: block;
	font-family: 'Space Mono', monospace;
	font-weight: 700;
	padding: 20px 0 20px 0;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
}
footer p {
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #bdbdbd;
        padding-top: 100px;
} 
footer a {
	display: inline-block;
	color: #333333;
	font-weight: 700;
}
@media only screen and (min-width: 768px) {
     footer {
       position: absolute;
       bottom: 0;
}
